{:paths ["bb" "resources"]
 :deps  {;; Including only the libs that are not built-in into `bb`
         camel-snake-kebab/camel-snake-kebab {:mvn/version "0.4.3"}
         org.clj-commons/hickory             {:mvn/version "0.7.7"}}
 :tasks
 {:requires ([babashka.cli :as cli]
             [tasks.fs :as t-fs]
             [tasks.print :as t-print])

  :enter    (t-print/print-public-task :enter)
  :leave    (t-print/print-public-task :leave)

  ;;; Telegram Bot API

  update-spec
  {:doc  "Update the Telegram Bot API spec"
   ;; - "bb update-spec"
   ;; - "bb -f bb/update_spec.clj"
   ;; - "./bb/update_spec.clj"
   :task update-spec/-main}

  ;;; Formatting

  fmt:install
  {:doc  "Install 'Standard Clojure Style' JS tool globally via NPM"
   :task (shell "npm install --global @chrisoakman/standard-clojure-style")}

  fmt:check
  {:doc  "Check formatting of Clojure code and EDN files"
   :task (let [arg-map (cli/parse-opts *command-line-args*)
               all-files (t-fs/clj+edn-files arg-map)]
           (apply shell "npx @chrisoakman/standard-clojure-style check" all-files))}

  fmt:fix
  {:doc  "Fix formatting of Clojure code and EDN files"
   :task (let [arg-map (cli/parse-opts *command-line-args*)
               all-files (t-fs/clj+edn-files arg-map)]
           (apply shell "npx @chrisoakman/standard-clojure-style fix" all-files))}

  ;;; Linting

  lint:kondo
  {:doc     "Run 'clj-kondo' in linting mode"
   :depends [lint:kondo:import-configs]
   :task    (let [args (or *command-line-args* ["."])]
              (apply shell "clj-kondo --config=.clj-kondo/config.edn --lint" args))}

  lint:kondo:no-cache
  {:doc     "Run 'clj-kondo' in linting mode with no cache"
   :depends [lint:kondo:import-configs]
   :task    (let [args (or *command-line-args* ["."])]
              (apply shell "clj-kondo --cache=false --config=.clj-kondo/config.edn --lint" args))}

  lint:kondo:import-configs
  {:doc  "Copy clj-kondo configs found in library dependencies"
   :task (let [classpath (with-out-str (clojure "-A:dev:test/unit:test/integration" "-Spath"))]
           (-> "clj-kondo --lint '%s' --copy-configs --dependencies --parallel --skip-lint"
             (format classpath)
             (shell)))}

  lint:splint
  {:doc  "Run 'splint' linter"
   :task (let [[root-dir] *command-line-args*]
           (apply clojure "-M:splint" (t-fs/clj-files {:root root-dir})))}

  lint
  {:doc  "Run all linters"
   :task (do (run 'lint:kondo)
             (run 'lint:splint))}

  ;;; Checking / Testing

  check
  {:doc  "Run all the checks"
   :task (do (run 'fmt:check)
             (run 'lint))}

  test:unit
  {:doc  "Run only unit tests"
   :task (clojure "-T:build" "test" :test-type :unit)}

  test:integration
  {:doc  "Run only integration tests"
   :task (clojure "-T:build" "test" :test-type :integration)}

  test
  {:doc  "Run all the tests"
   :task (clojure "-T:build" "test")}

  ;;; Building / Deploying

  jar
  {:doc  "Build the JAR file"
   :task (clojure "-T:build" "jar")}

  install
  {:doc  "Install the JAR locally"
   :task (clojure "-T:build" "install")}

  deploy
  {:doc  "Deploy the JAR to Clojars"
   :task (clojure "-T:build" "deploy")}

  release
  {:doc  "Release a new version of the library"
   :task (do (run 'check)
             (run 'test)
             (run 'jar)
             (run 'install)
             (run 'deploy))}

  ;;; Dev Workflow

  pre-commit
  {:doc  "Run a pre-commit local dev routine"
   :task (do (run 'fmt:fix)
             (run 'lint))}

  pre-push
  {:doc  "Run a pre-push local dev routine"
   :task (do (run 'fmt:fix)
             (run 'lint)
             (run 'test))}

  outdated
  {:doc  "Check for outdated dependencies"
   ;; - "bb outdated --upgrade"
   ;; - "bb outdated --upgrade --force"
   :task (apply clojure (cons "-M:outdated" *command-line-args*))}}}
