{:cached nil,
 :request-time 959,
 :repeatable? false,
 :protocol-version {:name "HTTP", :major 1, :minor 1},
 :streaming? true,
 :chunked? false,
 :reason-phrase "OK",
 :headers {"Access-Control-Allow-Origin" "*",
           "Strict-Transport-Security" "max-age=31536000; includeSubDomains; preload",
           "Date" "Thu, 26 Jun 2025 01:25:42 GMT",
           "Access-Control-Expose-Headers" "Content-Length,Content-Type,Date,Server,Connection",
           "Content-Length" "271",
           "Server" "nginx/1.18.0",
           "Content-Type" "application/json",
           "Connection" "close",
           "Access-Control-Allow-Methods" "GET, POST, OPTIONS"},
 :orig-content-encoding nil,
 :status 200,
 :length 271,
 :body "{\"ok\":true,\"result\":{\"id\":1234567890,\"is_bot\":true,\"first_name\":\"Testy\",\"username\":\"test_username\",\"can_join_groups\":true,\"can_read_all_group_messages\":false,\"supports_inline_queries\":true,\"can_connect_to_business\":false,\"has_main_web_app\":false}}",
 :trace-redirects []}
