{:ex/class-name "clojure.lang.ExceptionInfo",
 :ex/data {:request-time 343,
           :request {:user-info nil,
                     :as :string,
                     :headers {"Content-Type" "application/json",
                               "Accept" "application/json",
                               "accept-encoding" "gzip, deflate"},
                     :server-port nil,
                     :url "https://api.telegram.org/bot1234567890:TEST_pxWA8lDi7uLc3oadqNivHCALHBQ7sM/getChat",
                     :uri "/bot1234567890:TEST_pxWA8lDi7uLc3oadqNivHCALHBQ7sM/getChat",
                     :server-name "api.telegram.org",
                     :version :http-1.1,
                     :query-string nil,
                     :body "{\"chat_id\":1}",
                     :scheme :https,
                     :request-method :post},
           :headers {"access-control-allow-origin" "*",
                     "access-control-expose-headers" "Content-Length,Content-Type,Date,Server,Connection",
                     "connection" "keep-alive",
                     "content-length" "73",
                     "content-type" "application/json",
                     "date" "Sat, 05 Jul 2025 08:53:50 GMT",
                     "server" "nginx/1.18.0",
                     "strict-transport-security" "max-age=31536000; includeSubDomains; preload"},
           :status 400,
           :content-type :application/json,
           :uri "https://api.telegram.org/bot1234567890:TEST_pxWA8lDi7uLc3oadqNivHCALHBQ7sM/getChat",
           :content-type-params {},
           :version :http-1.1,
           :body "{\"ok\":false,\"error_code\":400,\"description\":\"Bad Request: chat not found\"}"},
 :ex/message "status: 400"}
