{:request-time 698,
 :request {:user-info nil,
           :as :string,
           :headers {"Accept" "application/json",
                     "accept-encoding" "gzip, deflate"},
           :server-port nil,
           :url "https://api.telegram.org/bot1234567890:TEST_pxWA8lDi7uLc3oadqNivHCALHBQ7sM/getMe",
           :uri "/bot1234567890:TEST_pxWA8lDi7uLc3oadqNivHCALHBQ7sM/getMe",
           :server-name "api.telegram.org",
           :version :http-1.1,
           :query-string nil,
           :scheme :https,
           :request-method :post},
 :headers {"access-control-expose-headers" "Content-Length,Content-Type,Date,Server,Connection",
           "server" "nginx/1.18.0",
           "content-type" "application/json",
           "access-control-allow-origin" "*",
           "content-length" "271",
           "strict-transport-security" "max-age=31536000; includeSubDomains; preload",
           "connection" "keep-alive",
           "access-control-allow-methods" "GET, POST, OPTIONS",
           "date" "Sat, 05 Jul 2025 08:53:49 GMT"},
 :status 200,
 :content-type :application/json,
 :uri "https://api.telegram.org/bot1234567890:TEST_pxWA8lDi7uLc3oadqNivHCALHBQ7sM/getMe",
 :content-type-params {},
 :version :http-1.1,
 :body "{\"ok\":true,\"result\":{\"id\":1234567890,\"is_bot\":true,\"first_name\":\"Testy\",\"username\":\"test_username\",\"can_join_groups\":true,\"can_read_all_group_messages\":false,\"supports_inline_queries\":true,\"can_connect_to_business\":false,\"has_main_web_app\":false}}"}
