{:opts {:method :post,
        :url "https://api.telegram.org/bot1234567890:TEST_pxWA8lDi7uLc3oadqNivHCALHBQ7sM/getChat",
        :body "{\"chat_id\":1}",
        :headers {"Content-Type" "application/json",
                  "Accept" "application/json"},
        :as :text,
        :proxy-url nil},
 :body "{\"ok\":false,\"error_code\":400,\"description\":\"Bad Request: chat not found\"}",
 :headers {:access-control-allow-origin "*",
           :access-control-expose-headers "Content-Length,Content-Type,Date,Server,Connection",
           :connection "keep-alive",
           :content-length "73",
           :content-type "application/json",
           :date "Sat, 05 Jul 2025 08:35:35 GMT",
           :server "nginx/1.18.0",
           :strict-transport-security "max-age=31536000; includeSubDomains; preload"},
 :status 400}
