{:opts {:method :post,
        :url "https://api.telegram.org/bot1234567890:TEST_pxWA8lDi7uLc3oadqNivHCALHBQ7sM/getMe",
        :as :text,
        :headers {"Accept" "application/json"},
        :proxy-url nil},
 :body "{\"ok\":true,\"result\":{\"id\":1234567890,\"is_bot\":true,\"first_name\":\"Testy\",\"username\":\"test_username\",\"can_join_groups\":true,\"can_read_all_group_messages\":false,\"supports_inline_queries\":true,\"can_connect_to_business\":false,\"has_main_web_app\":false}}",
 :headers {:access-control-expose-headers "Content-Length,Content-Type,Date,Server,Connection",
           :date "Sat, 05 Jul 2025 08:35:35 GMT",
           :server "nginx/1.18.0",
           :content-length "271",
           :strict-transport-security "max-age=31536000; includeSubDomains; preload",
           :content-type "application/json",
           :access-control-allow-methods "GET, POST, OPTIONS",
           :access-control-allow-origin "*",
           :connection "keep-alive"},
 :status 200}
