{:ex/class-name "clojure.lang.ExceptionInfo",
 :ex/data {:headers {"server" "nginx/1.18.0",
                     "date" "Thu, 26 Jun 2025 14:04:04 GMT",
                     "content-type" "application/json",
                     "content-length" "73",
                     "connection" "keep-alive",
                     "strict-transport-security" "max-age=31536000; includeSubDomains; preload",
                     "access-control-allow-origin" "*",
                     "access-control-expose-headers" "Content-Length,Content-Type,Date,Server,Connection"},
           :status 400,
           :body "{\"ok\":false,\"error_code\":400,\"description\":\"Bad Request: chat not found\"}",
           :request {:user-info nil,
                     :as :text,
                     :headers {"Content-Type" "application/json",
                               "Accept" "application/json",
                               "Accept-Encoding" "gzip, deflate"},
                     :server-port nil,
                     :http-url "https://api.telegram.org/bot1234567890:TEST_pxWA8lDi7uLc3oadqNivHCALHBQ7sM/getChat",
                     :character-encoding "UTF-8",
                     :uri "/bot1234567890:TEST_pxWA8lDi7uLc3oadqNivHCALHBQ7sM/getChat",
                     :server-name "api.telegram.org",
                     :query-string nil,
                     :scheme :https,
                     :request-method :post}},
 :ex/message "clj-http: status 400"}
