{:ex/class-name "clojure.lang.ExceptionInfo",
 :ex/data {:cached nil,
           :request-time 361,
           :repeatable? false,
           :protocol-version {:name "HTTP", :major 1, :minor 1},
           :streaming? true,
           :chunked? false,
           :type :clj-http.client/unexceptional-status,
           :reason-phrase "Bad Request",
           :headers {"Server" "nginx/1.18.0",
                     "Date" "Thu, 26 Jun 2025 00:47:07 GMT",
                     "Content-Type" "application/json",
                     "Content-Length" "73",
                     "Connection" "close",
                     "Strict-Transport-Security" "max-age=31536000; includeSubDomains; preload",
                     "Access-Control-Allow-Origin" "*",
                     "Access-Control-Expose-Headers" "Content-Length,Content-Type,Date,Server,Connection"},
           :orig-content-encoding nil,
           :status 400,
           :length 73,
           :body "{\"ok\":false,\"error_code\":400,\"description\":\"Bad Request: chat not found\"}",
           :trace-redirects []},
 :ex/message "clj-http: status 400"}
