{:headers {:access-control-expose-headers "Content-Length,Content-Type,Date,Server,Connection",
           :date "Thu, 26 Jun 2025 14:04:04 GMT",
           :server "nginx/1.18.0",
           :content-length "271",
           :strict-transport-security "max-age=31536000; includeSubDomains; preload",
           :content-type "application/json",
           :access-control-allow-methods "GET, POST, OPTIONS",
           :access-control-allow-origin "*",
           :connection "keep-alive"},
 :status 200,
 :body "{\"ok\":true,\"result\":{\"id\":1234567890,\"is_bot\":true,\"first_name\":\"Testy\",\"username\":\"test_username\",\"can_join_groups\":true,\"can_read_all_group_messages\":false,\"supports_inline_queries\":true,\"can_connect_to_business\":false,\"has_main_web_app\":false}}",
 :request {:user-info nil,
           :as :text,
           :headers {"Accept" "application/json",
                     "Accept-Encoding" "gzip, deflate"},
           :server-port nil,
           :http-url "https://api.telegram.org/bot1234567890:TEST_pxWA8lDi7uLc3oadqNivHCALHBQ7sM/getMe",
           :uri "/bot1234567890:TEST_pxWA8lDi7uLc3oadqNivHCALHBQ7sM/getMe",
           :server-name "api.telegram.org",
           :query-string nil,
           :scheme :https,
           :request-method :post}}
