name: Clojure CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Git repo
        uses: actions/checkout@v6
        with:
          fetch-depth: 0 # full history for version number

      - name: Cache dependencies
        uses: actions/cache@v5
        with:
          path: |
            ~/.m2/repository
            ~/.gitlibs
          key: ${{ runner.os }}-clojure-${{ hashFiles('**/deps.edn', '**/bb.edn') }}
          restore-keys: ${{ runner.os }}-clojure-

      - name: Prepare Java
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: Install Clojure tools
        uses: DeLaGuardo/setup-clojure@13.5.2
        with:
          cli: '1.12.4.1602'
          clj-kondo: '2026.01.19'
          bb: '1.12.214'

      - name: Run checks
        run: |
          bb fmt:install
          bb check

      - name: Run unit tests
        run: bb test:unit

      - name: Run integration tests
        if: ${{ github.event_name != 'pull_request' || github.event.pull_request.head.repo.fork == false }}
        env:
          BOT_AUTH_TOKEN: ${{ secrets.BOT_AUTH_TOKEN }}
        run: bb test:integration

      - name: Build JAR file
        run: bb jar
